.App {
  text-align: center;
}


.btn-circle.btn-sm {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 8px;
  text-align: center;
}
.btn-circle.btn-md {
  width: 50px;
  height: 50px;
  padding: 7px 10px;
  border-radius: 25px;
  font-size: 10px;
  text-align: center;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 12px;
  text-align: center;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

li {
  text-align: center;
  float: right;
}

li :hover {
  color: white;
  text-decoration: underline;
  text-decoration-color: red;
}
.navbar-light .navbar-nav .nav-link.active {
  color: white;
}
.menu-list{
  width: 100%;
  line-height: 60px;
  background-color: #20232a;
  display: flex;
  justify-content: space-around;
}
 navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: yellow;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  color: yellow;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}


@keyframes up-down  {
  0% { transform: translateY(10px);}
  100% { transform: translateY(-10px);}
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
